.select-buttons {
  list-style-type: none;
}

.select-buttons a {
  text-decoration: none;
  font-size: 15px;
}

.select-buttons li, .select-buttons a {
  float: left;
  min-width: 37px;
}

.select-buttons li { 
  margin: 0 5px 5px 0; 
}

.select-buttons li a, 
.select-buttons .limited a, 
.select-buttons .disabled {
  border: 1px solid #9dc4e3;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
}

.select-buttons li:last-child { 
  margin-right: 0; 
}

.select-buttons a {
  color: #3c89c8;
  padding: 4px;
  text-align: center;
}

.select-buttons a:hover, 
.select-buttons .picked {
  background: #3c89c8;
  border-color: #3c89c8;
  color: #FFF;    
  text-decoration: none;
}

.select-buttons .limited a, 
.select-buttons .disabled {
  padding: 3px 0 4px 0;
  text-align: center;
}

.select-buttons .disabled {
  border: 1px solid #d1d1d1;
  color: #999;
}

.select-buttons span {
  display: block;
  font-size: 9px;
  line-height: 9px;
}

.select-buttons.long li, .select-buttons.long a { 
  width: 55px; 
}
